
*{
  margin: 0;
  padding: 0;
  font-family: SourceSansPro;
}
body {
  background-color: #cad3d3;
}
.container {
  width: 92%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}
.card {
  background-color: #ffffff;
}

.card--header {
  width: 362px;
  height: 272px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card--header--text {
  background: red;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -60px;
  left: 120px;
}
.card--header__text > h1{
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 3px;
}


.card--body {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 52px;
}
.card-text{
  line-height: 50px;
  color:  #5f727f;
}
.card--header--text{
  font-size: 12pt;
}
.card--header--text > div {
  color: #2196f7;
  text-align: center;
}

.card--body--list .card-text:nth-child(odd) {  /* or 4n+1 */
  background-color: #f4f6f7;  
}

.height-groups{
  height: 50px;
}
.btn {
  width: 170px;
  margin-top: 50px;
  font-size: 16pt;
}
.btn:hover {
  cursor: pointer;
}

.per-cl {
  color: #92a1ad;
}

.per {
  color: #adbac4 !important;
}

.usd{
  font-size: 32px;

}
.price{
  font-size: 16px;
  text-align: center;
  color: #afbfc3;
}
.cl-success{
  color: #32ad1e;
}

/* 
 css ocean
*/
.card--body__title , h3 {
  margin-bottom: 20px;
  color: #5f727f;
}
/* .card--body__title > h3 {
  margin-bottom: 20px;
} */

.bg-ocean {
  background-image: url('./images/ocean.png');
}
.btn-primary {
  color: #2196f7;
  border:1px solid #2196f7 ;
  background: #ffffff;
}
.btn-primary:hover{
  background-color:#2196f7 ;
  color: #ffffff;
  transition: 2s;
}
.btn-primary:focus{
  outline: none;
}
.bg-ocean-cl {
  background: #ffffff;
}




/*
  css mountains
*/

.bg-mountains {
  background-image: url('./images/mountain.png');
}
.bg-mountains::after{
  content: 'NEW';
  color: #ffffff;
  position: absolute;
  top: 3%;
  left: 2%;
  z-index: 5565656;
}
.btn-purple {
  background: #6c136f;
  color: #ffffff;
  border: none;
}
.btn-purple:hover {
  background-color: #ffffff;
  color:#6c136f ;
  border: 1px solid #6c136f;
  transition: 2s;
}
.mountains-color > .usd {
  color: #d74498 !important;
}
.bg-mountains-cl {
  background-color: #2c2e3d;
}

.bg-mountains > img {
  position: absolute;
  top: -6%;
  left: -3%;
  z-index: 44;
}


/*
  forest
 */

 .bg-forest{
   background-image: url('./images/forest.png');
 }
 .btn-success {
   color: #32ad1e;
   border: 1px solid #32ad1e;
   background: #ffffff;
 }
 .btn-success:hover {
  background: #32ad1e;
  color: #ffffff;
  transition: 2s;
 }

 /*
  responsive
 */

 /*
  < 576px
 */
@media all and (max-width: 576px) {
  .container{
    display: block;
  }
  .card {
    padding-bottom: 50px ;
  }
  .card--header{
    width: 100%;
  }
  .card--header--text{
    left: auto;
    border: 1px solid grey;
  }
}

 /*
  576px > 768px
 */
 @media all and (min-width: 576px) and (max-width: 768px) {
  .container{
    display: block;
  }
  .card {
    padding-bottom: 50px ;
  }
  .card--header{
    width: 100%;
  }
  .card--header--text{
    left: auto;
    border: 1px solid grey;
  }
 }

  /*
 768px > 992px
 */
@media all and (min-width: 768px) and (max-width: 992px) {
  .container{
    display: block;
  }
  .card {
    padding-bottom: 50px ;
  }
  .card--header{
    width: 100%;
  }
  .card--header--text{
    left: auto;
    border: 1px solid grey;
  }
}


@media all and (min-width: 992px) and (max-width: 1100px) {
  .container{
    display: grid;
  }

}

/*
tao git 
tao repo FE_BT1
tao nhanh v1
push code
add tk mlh-hnq
*/